<div class="hero-unit">
  <h2 class="name"><%= user.name %></h2>
  <%- linkTo('Edit this user', editUserPath(params.id), {class: 'btn pull-right'}); %>
  <%- linkTo('Back to list', userPath(''), {class: 'btn pull-right'}); %>
</div>

<h3>Name: <%= user.name %></h3>

<h3>Comments</h3>
<% comments.forEach(function (comment) { %>
<h4>
    <%- linkTo(comment.title, {controller: 'comments', action: 'show', id: comment.id}); %>
</h4>
<% }); %>